<h1>Animal Info</h1>
<h1>ID</h1>
<%= @animal.id%>
<h1>Name</h1>
<%= @animal.name%>
<h1>Age</h1>
<%= @animal.age%>
<h1>Hair Color</h1>
<%= @animal.hair_color%>
<h1>Eye Color</h1>
<%= @animal.eye_color%>
<h1>Status</h1>
<%= @animal.alive%>
 '
    
